@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 95%;
    --foreground: 220 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 216 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 15% 90%;
    --secondary-foreground: 220 15% 20%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 15% 50%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 216 100% 40%;
    --radius: 0.5rem;
    --chart-1: 220 100% 50%;
    --chart-2: 260 100% 50%;
    --chart-3: 180 100% 40%;
    --chart-4: 200 100% 40%;
    --chart-5: 240 100% 40%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 15% 8%;
    --foreground: 0 0% 100%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 216 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 15% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 15% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    --input: 216 100% 40%;
    --ring: 216 100% 40%;
    --radius: 0.5rem;
    --chart-1: 260 100% 60%%;
    --chart-2: 260 100% 60%;
    --chart-3: 180 100% 50%;
    --chart-4: 200 100% 50%;
    --chart-5: 240 100% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 2%);
    right: 0px;
  }
  to {
    background: hsl(var(--primary) / 5%);
    right: 0px;
  }
}

.shadow {
  position: absolute;
  background: hsl(var(--primary) / 20%);
  border-radius: 24px;

  width: 100vw;
  height: 75vh;
  filter: blur(120px);
  animation: shadow-slide infinite 5s linear alternate;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

.pulse {
  animation: pulse 0.5s infinite;
}
