**/Dockerfile
**/.dockerignore
**/node_modules
**/dist
**/.env*
**/tmp
**/.gitignore
**/.git
**/.prettierrc
**/.swcrc
**/npm-debug.log
**/.next
**/deploy
**/.vscode
**/.github
**/.git-hooks
**/.husky
**/.swc
**/build.json
**/skaffold.yaml
**/prettierrc
**/.npmrc
**/Makefile
**/clouddeploy.yaml
**/README.md
