# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# nitro
.nitro/
.output/
.tanstack

# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore
apps/expo/ios
apps/expo/android

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
dist/

# turbo
.turbo

# infra
build.json
**/*.pem

# tmp
_tmp

# Next.js
.next
out

.swc

vite.config.*.timestamp*
vitest.config.*.timestamp*

**/*.tsbuildinfo

test-output

**/src/metadata.ts

**/charts/**

.cache

**/tmp

bin

logs
*.log

.mcp.json

# Logs
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
