*

!docker-compose.dev.yaml
!docker-compose.inference.yaml
!docker-compose.yaml
!Makefile
!README.md
!.gitignore
!.github/workflows
!kubernetes
!kubernetes/**
!skaffold.yaml
!clouddeploy.yaml
.env.production
.env.stage
redis-ca.pem
!.github
!.github/**
!.gcloudignore
!cloudbuild.yaml
!render-config.sh
!.env.template