# Dependencies
node_modules/

# Build outputs
build/
dist/
out/
.next/
.nitro/
.output/
.tanstack/
.turbo/
.cache/
bin/

# Testing
coverage/
coverage.txt
coverage.out
test-output/

# Logs
*.log
logs/

# Environment
.env
.env*.local

# Platform specific
.DS_Store
*.pem

## Documentation
web/docs/pages
web/docs/apis/openapi.yaml
api/openapi.bundled.yaml

## Config/Generated
build.json
.mcp.json
**/charts/

# Temporary
tmp
