{
  "arrowParens": "always",
  "jsonRecursiveSort": true,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-sort-json", "prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
