# GLOBAL CONFIG
TS_JEST=true
SERVER_HOST=https://api.archesai.com
PORT=3001
FRONTEND_HOST=https://platform.archesai.com
NODE_ENV=production

# DATABASE CONFIG
DATABASE_URL={{PROD_DATABASE_URL:9}}

# STRIPE CONFIG
FEATURE_BILLING=true
STRIPE_PRIVATE_API_KEY={{PROD_STRIPE_PRIVATE_API_KEY:1}}
STRIPE_WEBHOOK_SECRET={{PROD_STRIPE_WEBHOOK_SECRET:1}}

# EMAIL CONFIG
FEATURE_EMAIL=true
EMAIL_SERVICE=gmail
EMAIL_USER={{PROD_EMAIL_USER:1}}
EMAIL_PASSWORD={{PROD_EMAIL_PASSWORD:1}}

# REDIS CONFIG
REDIS_HOST={{PROD_REDIS_HOST:2}}
REDIS_PORT={{PROD_REDIS_PORT:1}}
REDIS_AUTH={{PROD_REDIS_AUTH:2}}
# REDIS_CA_CERT_PATH=

# OPENAI CONFIG
OPEN_AI_KEY={{PROD_OPEN_AI_KEY:1}}

# JWT API TOKEN CONFIG
JWT_API_TOKEN_SECRET={{PROD_JWT_API_TOKEN_SECRET:1}}
JWT_API_TOKEN_EXPIRATION_TIME={{PROD_JWT_API_TOKEN_EXPIRATION_TIME:1}}

# LOADER CONFIG
LOADER_ENDPOINT=http://arches-nlp:3002/indexDocument

## STORAGE CONFIGURATION ##
STORAGE_TYPE=google-cloud

## VECTOR DB CONFIGURATION ##
VECTOR_DB_TYPE=pinecone

# PINECONE
PINECONE_API_KEY={{PROD_PINECONE_API_KEY:1}}
PINECONE_INDEX=arches-index
