{{- /*
Common struct template with standard patterns
Usage: {{template "struct" .}}
*/ -}}
{{define "struct"}}
{{- if .Description}}
// {{.Name}} {{.Description}}
{{- end}}
type {{.Name}} struct {
{{- range .Fields}}
	{{- if .Description}}
	// {{.Description}}
	{{- end}}
	{{.Name}} {{.Type}} {{.Tags}}
{{- end}}
}
{{end}}