openapi: 3.2.0
info:
  title: Arches Platform API
  description: The Arches Platform API for managing projects and code generation
  version: v0.0.0
  summary: API for Arches platform
  termsOfService: https://archesai.com/terms
  license:
    name: AGPL-3.0
    url: https://opensource.org/licenses/AGPL-3.0
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
jsonSchemaDialect: https://spec.openapis.org/oas/3.2/dialect/2025-09-17
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
    description: Production server
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: APIKey
    description: API key management
  - name: Artifact
    description: Content artifact management
  - name: Auth
    description: Authentication and authorization operations
  - name: Config
    description: Configuration management
  - name: Executor
    description: Custom executor management
  - name: Health
    description: Health check operations
  - name: Invitation
    description: Organization invitation management
  - name: Label
    description: Content label management
  - name: Member
    description: Organization member management
  - name: OAuth
    description: OAuth provider integration
  - name: Organization
    description: Organization management
  - name: Pipeline
    description: Pipeline management
  - name: Run
    description: Pipeline run management
  - name: Session
    description: User session management
  - name: Token
    description: API token management
  - name: Tool
    description: Tool management
  - name: User
    description: User profile management
paths:
  /auth/login:
    post:
      operationId: Login
      summary: Login
      tags:
        - Auth
      description: Authenticate user and create a session
      security:
        - {}
      x-public-endpoint: true
      x-codegen-custom-handler: true
      requestBody:
        description: User login credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The email address associated with the account
                  type: string
                  format: email
                  example: user@example.com
                  minLength: 1
                  maxLength: 255
                password:
                  description: The password for the account
                  type: string
                  minLength: 1
                  maxLength: 72
                  example: secure-password-123
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                rememberMe:
                  description: Whether to create a long-lived session
                  type: boolean
                  default: false
                  example: true
              required:
                - email
                - password
        required: true
      responses:
        '201':
          $ref: '#/components/responses/SessionCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/logout:
    post:
      operationId: Logout
      summary: Logout
      tags:
        - Auth
      description: Logout from current session
      x-codegen-custom-handler: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LogoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/logout-all:
    post:
      operationId: LogoutAll
      summary: Logout all sessions
      tags:
        - Auth
      description: Logout from all sessions across all devices
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/LogoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codegen-custom-handler: true
  /auth/register:
    post:
      operationId: Register
      summary: Register
      tags:
        - Auth
      description: Register a new user account with email and password
      security:
        - {}
      x-public-endpoint: true
      x-codegen-custom-handler: true
      requestBody:
        description: User registration details
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The email address for the new account
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                  example: user@example.com
                  minLength: 1
                  maxLength: 255
                name:
                  description: The name of the user
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: John Doe
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                password:
                  description: The password for the account
                  type: string
                  minLength: 8
                  maxLength: 72
                  example: secure-password-123
                  pattern: ^[\w\s\-.,!?()@#+/]*$
              required:
                - email
                - name
                - password
        required: true
      responses:
        '201':
          $ref: '#/components/responses/SessionCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/magic-links/request:
    post:
      operationId: RequestMagicLink
      summary: Request a magic link
      description: Request a magic link to be sent via email or generate an OTP code
      tags:
        - Auth
      security:
        - {}
      x-public-endpoint: true
      x-codegen-custom-handler: true
      requestBody:
        description: Magic link authentication request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  description: Email address or username
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: user@example.com
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                deliveryMethod:
                  description: How to deliver the magic link
                  type: string
                  enum:
                    - email
                    - console
                    - otp
                    - webhook
                  default: email
                  example: email
                redirectUrl:
                  description: URL to redirect to after successful authentication
                  type: string
                  format: uri
                  minLength: 1
                  maxLength: 2048
                  example: https://app.archesai.com/dashboard
              required:
                - identifier
      responses:
        '200':
          description: Magic link requested successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                    maxLength: 500
                    example: Magic link sent to user@example.com
                    pattern: ^[\w\s\-.,!?()@]+$
                  otpCode:
                    description: OTP code (only returned if deliveryMethod is 'otp')
                    type: string
                    minLength: 6
                    maxLength: 6
                    example: '123456'
                    pattern: ^[A-Za-z0-9_-]+$
                  expiresIn:
                    description: Token expiry in seconds
                    type: integer
                    format: int32
                    minimum: 1
                    maximum: 2147483647
                    example: 900
                  token:
                    $ref: '#/components/schemas/MagicLinkToken'
              example:
                message: Magic link sent to user@example.com
                expiresIn: 900
          headers:
            Set-Cookie:
              $ref: '#/components/headers/SetCookie'
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/magic-links/verify:
    post:
      operationId: VerifyMagicLink
      summary: Verify a magic link token
      description: Verify a magic link token or OTP code and create a session
      tags:
        - Auth
      security:
        - {}
      x-public-endpoint: true
      x-codegen-custom-handler: true
      requestBody:
        description: Magic link verification request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  description: Magic link token from URL
                  type: string
                  minLength: 32
                  maxLength: 512
                  example: abc123def456789ghi012jkl345mno678pqr901stu234
                  pattern: ^[A-Za-z0-9_-]+$
                code:
                  description: OTP code (alternative to token)
                  type: string
                  minLength: 6
                  maxLength: 6
                  pattern: ^[0-9]{6}$
                  example: '123456'
                identifier:
                  description: Required when using OTP code
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: user@example.com
                  pattern: ^[\w\s\-.,!?()@#+/]*$
      responses:
        '201':
          $ref: '#/components/responses/SessionCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/forgot-password:
    post:
      x-codegen-custom-handler: true
      operationId: RequestPasswordReset
      x-public-endpoint: true
      summary: Request password reset
      tags:
        - Auth
      description: This endpoint will request a password reset link
      security:
        - {}
      requestBody:
        description: Password reset request
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The e-mail to send the password reset token to
                  type: string
                  format: email
                  minLength: 1
                  maxLength: 255
                  example: user@example.com
              required:
                - email
        required: true
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/reset-password:
    post:
      operationId: ConfirmPasswordReset
      summary: Verify password reset
      tags:
        - Auth
      description: This endpoint will verify your password change with a token
      security:
        - {}
      x-public-endpoint: true
      x-codegen-custom-handler: true
      requestBody:
        description: Password reset confirmation request
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  description: The new password
                  type: string
                  minLength: 8
                  maxLength: 72
                  example: secure-new-password-123
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                token:
                  description: The password reset token
                  type: string
                  minLength: 1
                  maxLength: 512
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                  pattern: ^[A-Za-z0-9_-]+$
              required:
                - newPassword
                - token
        required: true
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/change-email:
    post:
      x-codegen-custom-handler: true
      operationId: RequestEmailChange
      summary: Request e-mail change
      tags:
        - Auth
      description: This endpoint will request your e-mail change with a token
      requestBody:
        description: Email change request
        content:
          application/json:
            schema:
              type: object
              properties:
                newEmail:
                  description: The e-mail to send the confirmation token to
                  type: string
                  format: email
                  example: user@example.com
                  minLength: 1
                  maxLength: 255
                userID:
                  description: The user ID of the user requesting the email change
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
              required:
                - newEmail
                - userID
        required: true
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/confirm-email:
    post:
      x-codegen-custom-handler: true
      operationId: ConfirmEmailChange
      summary: Verify e-mail change
      tags:
        - Auth
      description: This endpoint will verify your e-mail change with a token
      requestBody:
        description: Email change confirmation request
        content:
          application/json:
            schema:
              type: object
              properties:
                newEmail:
                  description: The e-mail to send the confirmation token to
                  type: string
                  format: email
                  maxLength: 255
                  example: user@example.com
                  minLength: 1
                token:
                  description: The password reset token
                  type: string
                  minLength: 1
                  maxLength: 512
                  example: example-string
                  pattern: ^[A-Za-z0-9_-]+$
                userID:
                  description: The user ID of the user requesting the email change
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
              required:
                - newEmail
                - token
                - userID
        required: true
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/request-verification:
    post:
      operationId: RequestEmailVerification
      summary: Request e-mail verification
      tags:
        - Auth
      description: This endpoint will send an e-mail verification link to you. ADMIN ONLY.
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codegen-custom-handler: true
  /auth/verify-email:
    post:
      operationId: ConfirmEmailVerification
      summary: Confirm e-mail verification
      tags:
        - Auth
      description: This endpoint will confirm your e-mail with a token
      requestBody:
        description: Email verification request with token
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  description: The email verification token
                  type: string
                  minLength: 1
                  maxLength: 512
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                  pattern: ^[A-Za-z0-9_-]+$
              required:
                - token
        required: true
      responses:
        '200':
          $ref: '#/components/responses/EmailVerificationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codegen-custom-handler: true
  /auth/link:
    post:
      x-codegen-custom-handler: true
      operationId: LinkAccount
      summary: Link authentication provider
      tags:
        - Auth
      description: Link an additional authentication provider to the current user account
      security:
        - bearerAuth: []
        - sessionCookie: []
      requestBody:
        description: Account linking request
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
              properties:
                provider:
                  description: The authentication provider to link
                  type: string
                  enum:
                    - google
                    - github
                    - microsoft
                    - apple
                  example: github
                redirectUrl:
                  description: URL to redirect to after successful linking
                  type: string
                  format: uri
                  maxLength: 2048
                  example: https://app.archesai.com/settings/security
      responses:
        '200':
          description: Provider linking initiated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - authorizationUrl
                properties:
                  authorizationUrl:
                    description: URL to redirect the user to for provider authorization
                    type: string
                    format: uri
                    minLength: 1
                    maxLength: 2048
                    example: https://github.com/login/oauth/authorize?client_id=...
              example:
                authorizationUrl: https://github.com/login/oauth/authorize?client_id=abc123
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests allowed per time window
              schema:
                type: integer
                example: 1000
                format: int32
                minimum: 1
                maximum: 1000000
              example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current time window
              schema:
                type: integer
                example: 999
                format: int32
                minimum: 0
                maximum: 1000000
              example: 999
            X-RateLimit-Reset:
              description: The time at which the current rate limit window resets (Unix timestamp)
              schema:
                type: integer
                example: 1640995200
                format: int64
                minimum: 0
                maximum: 9223372036854776000
              example: 1640995200
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/oauth/{provider}/authorize:
    get:
      operationId: OauthAuthorize
      summary: Start OAuth authorization flow
      tags:
        - Auth
      description: Redirect user to OAuth provider authorization page
      x-codegen-custom-handler: true
      parameters:
        - schema:
            type: string
            enum:
              - google
              - github
              - microsoft
            example: google
          in: path
          name: provider
          required: true
          description: The OAuth provider to use for authorization
        - schema:
            type: string
            format: uri
            maxLength: 2048
            example: http://localhost:3000/auth/callback
          in: query
          name: redirect_uri
          required: false
          description: Where to redirect after authorization (optional, uses default if not provided)
        - schema:
            type: string
            maxLength: 255
            pattern: ^[\w\s\-.,!?()@#+/:]*$
            example: read:user
          in: query
          name: scope
          required: false
          description: OAuth scopes to request (optional, uses default if not provided)
        - schema:
            type: string
            maxLength: 255
            pattern: ^[\w\-]+$
            example: random_state_123
          in: query
          name: state
          required: false
          description: State parameter for CSRF protection
      responses:
        '200':
          description: Authorization URL generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizationUrl:
                    type: string
                    minLength: 1
                    example: https://accounts.google.com/oauth/authorize?client_id=...
                    description: URL to redirect user for OAuth authorization
                    maxLength: 2048
                    format: uri
                required:
                  - authorizationUrl
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '302':
          description: Redirect to OAuth provider
          headers:
            Location:
              description: The OAuth provider authorization URL
              schema:
                type: string
                format: uri
                maxLength: 2048
                example: https://accounts.google.com/oauth/authorize?client_id=...
              example: https://accounts.google.com/oauth/authorize?client_id=...
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/oauth/{provider}/callback:
    get:
      operationId: OauthCallback
      x-codegen-custom-handler: true
      summary: Handle OAuth callback
      tags:
        - Auth
      description: Handle the callback from OAuth provider and complete authentication
      parameters:
        - schema:
            type: string
            enum:
              - google
              - github
              - microsoft
            example: google
          in: path
          name: provider
          required: true
          description: The OAuth provider handling the callback
        - schema:
            type: string
            maxLength: 1024
            pattern: ^[\w\-]+$
            example: authorization_code_123
          in: query
          name: code
          required: false
          description: Authorization code from OAuth provider
        - schema:
            type: string
            maxLength: 255
            pattern: ^[\w\-]+$
            example: random_state_123
          in: query
          name: state
          required: false
          description: State parameter for CSRF protection
        - schema:
            type: string
            maxLength: 100
            pattern: ^[\w\-_]+$
            example: access_denied
          in: query
          name: error
          required: false
          description: Error code if authorization failed
        - schema:
            type: string
            maxLength: 500
            pattern: ^[\w\s\-.,!?()@#+/]*$
            example: The user denied the request
          in: query
          name: error_description
          required: false
          description: Human-readable error description
      responses:
        '200':
          $ref: '#/components/responses/SessionCreated'
        '302':
          description: Redirect to frontend with authentication result
          headers:
            Set-Cookie:
              description: Session cookies for authentication
              schema:
                type: string
                minLength: 1
                maxLength: 4096
                pattern: ^[\w\-=;,. ]+$
            Location:
              description: Redirect URL to frontend
              schema:
                type: string
                format: uri
                maxLength: 2048
                example: http://localhost:3000/auth/success
              example: http://localhost:3000/auth/success
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/accounts:
    get:
      operationId: ListAccounts
      x-codegen-repository: Account
      summary: List linked accounts
      tags:
        - Auth
      description: List all linked authentication providers for the current user
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/AccountListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/accounts/{id}:
    get:
      operationId: GetAccount
      x-codegen-repository: Account
      summary: Find an account
      tags:
        - Auth
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: UUID identifier
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
            minLength: 36
            maxLength: 36
          description: The unique identifier of the resource
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/AccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: Get an account
    patch:
      x-codegen-custom-handler: true
      operationId: UpdateAccount
      summary: Update an account
      tags:
        - Auth
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: UUID identifier
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
            minLength: 36
            maxLength: 36
          description: The unique identifier of the resource
      security:
        - bearerAuth: []
      requestBody:
        description: Account update request
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              maxProperties: 3
              properties:
                provider:
                  type: string
                  maxLength: 255
                  description: The account provider
                  example: google
                  pattern: ^[a-z][a-z0-9-]*$
                providerAccountIdentifier:
                  type: string
                  maxLength: 255
                  description: The provider account ID
                  example: user1234567890
                  pattern: ^[a-z][a-z0-9-]*$
                type:
                  type: string
                  maxLength: 255
                  description: The account type
                  example: oauth
                  pattern: ^[\w\s\-.,!?()@#+/]*$
      responses:
        '200':
          $ref: '#/components/responses/AccountResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: Update an account
    delete:
      x-codegen-custom-handler: true
      operationId: DeleteAccount
      summary: Delete an account
      tags:
        - Auth
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: UUID identifier
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
            minLength: 36
            maxLength: 36
          description: The unique identifier of the resource
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      description: Delete an account
  /auth/sessions:
    get:
      operationId: ListSessions
      x-codegen-repository: Session
      summary: List sessions
      tags:
        - Auth
      description: List all active sessions for the current user
      security:
        - bearerAuth: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/SessionsSort'
      responses:
        '200':
          $ref: '#/components/responses/SessionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/{id}:
    get:
      operationId: GetSession
      x-codegen-repository: Session
      summary: Find a session
      tags:
        - Auth
      description: Find a session
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      x-codegen-custom-handler: true
      operationId: UpdateSession
      summary: Update Session
      tags:
        - Auth
      description: This endpoint will update the active organization for the current session
      requestBody:
        description: Session update data
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationID:
                  description: The organization ID to set as active for this session
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
              required:
                - organizationID
        required: true
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      responses:
        '200':
          $ref: '#/components/responses/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      x-codegen-custom-handler: true
      operationId: DeleteSession
      summary: Delete session (Logout)
      tags:
        - Auth
      description: Delete a specific session (logout from that session)
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /me:
    get:
      x-codegen-custom-handler: true
      operationId: GetCurrentUser
      summary: Get current user
      tags:
        - User
      description: Get the currently authenticated user's profile
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      x-codegen-custom-handler: true
      operationId: UpdateCurrentUser
      summary: Update current user
      tags:
        - User
      description: Update the currently authenticated user's profile
      security:
        - bearerAuth: []
        - sessionCookie: []
      requestBody:
        description: User profile update data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The user's display name
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: John Doe
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                image:
                  description: The user's avatar image URL
                  type: string
                  minLength: 5
                  maxLength: 2048
                  format: uri
                  example: https://example.com/avatar.jpg
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      x-codegen-custom-handler: true
      operationId: DeleteCurrentUser
      summary: Delete current user
      tags:
        - User
      description: Delete the currently authenticated user's account (cascades to all sessions and accounts)
      security:
        - bearerAuth: []
        - sessionCookie: []
      parameters:
        - name: X-Confirm
          in: header
          required: true
          description: Confirmation header to prevent accidental deletion
          schema:
            type: string
            enum:
              - DELETE_MY_ACCOUNT
            example: DELETE_MY_ACCOUNT
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users:
    get:
      operationId: ListUsers
      summary: List users
      tags:
        - User
      description: List users
      parameters:
        - $ref: '#/components/parameters/UsersFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/UsersSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/UserListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{id}:
    get:
      operationId: GetUser
      summary: Get a user
      tags:
        - User
      description: Get a user
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateUser
      summary: Update an user
      tags:
        - User
      description: Update an user
      requestBody:
        description: User update data
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The user's e-mail
                  type: string
                  format: email
                  minLength: 1
                  example: user@example.com
                  maxLength: 255
                image:
                  description: The user's avatar image URL
                  type: string
                  format: uri
                  maxLength: 2048
                  example: https://example.com/avatar.jpg
                  pattern: ^https?://[\w\-\.]+[\w\-\./:?#@!$&'()*+,;=]*$
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/UserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteUser
      summary: Delete a user
      tags:
        - User
      description: Delete a user
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api-keys:
    get:
      operationId: ListAPIKeys
      summary: List tokens
      tags:
        - APIKey
      description: List user's tokens (without showing the actual key values)
      parameters:
        - $ref: '#/components/parameters/APIKeysFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/APIKeysSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/APIKeyListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateAPIKey
      summary: Create a token
      tags:
        - APIKey
      description: Create a token
      security:
        - bearerAuth: []
      requestBody:
        description: API key creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Human-readable name for the API key
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Production API Key
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                scopes:
                  description: List of scopes/permissions for this API key
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: ^[\w\s\-.,!?()@#+/:]*$
                  example:
                    - read:users
                    - write:workflows
                rateLimit:
                  description: Requests per minute limit (default 60)
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 10000
                  default: 60
                  example: 1000
                expiresAt:
                  description: When the API key expires (optional, no expiry if omitted)
                  type: string
                  format: date-time
                  minLength: 1
                  maxLength: 255
                  example: '2025-01-15T09:30:00Z'
              required:
                - name
                - scopes
        required: true
      responses:
        '201':
          $ref: '#/components/responses/APIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api-keys/{id}:
    get:
      operationId: GetAPIKey
      summary: Get API key details
      tags:
        - APIKey
      description: Get details of a specific API key (without the actual key value)
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/APIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateAPIKey
      summary: Update API key
      tags:
        - APIKey
      description: Update an API key's name, scopes, or rate limit
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      requestBody:
        description: API key update data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Updated Production API Key
                  description: Human-readable name for the API key
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                scopes:
                  type: array
                  maxItems: 1000
                  items:
                    type: string
                    maxLength: 255
                    pattern: ^[\w\s\-.,!?()@#+/:]*$
                  example:
                    - read:users
                    - write:workflows
                    - read:pipelines
                  description: Array of permission scopes
                rateLimit:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 10000
                  example: 2000
                  description: Requests per minute allowed for this API key
              additionalProperties: false
      responses:
        '200':
          $ref: '#/components/responses/APIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: DeleteAPIKey
      summary: Delete API key
      tags:
        - APIKey
      description: Delete an API key permanently. This action cannot be undone.
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations:
    get:
      operationId: ListOrganizations
      summary: List organizations
      tags:
        - Organization
      description: List organizations
      parameters:
        - $ref: '#/components/parameters/OrganizationsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/OrganizationsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/OrganizationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateOrganization
      summary: Create an organization
      tags:
        - Organization
      description: Create an organization
      requestBody:
        description: Organization creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                billingEmail:
                  description: The billing email to use for the organization
                  type: string
                  example: example@archesai.com
                  minLength: 1
                  maxLength: 255
                  format: email
                organizationID:
                  description: UUID identifier
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
              required:
                - billingEmail
                - organizationID
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{id}:
    get:
      operationId: GetOrganization
      summary: Get an organization
      tags:
        - Organization
      description: Get an organization
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateOrganization
      summary: Update an organization
      tags:
        - Organization
      description: Update an organization
      requestBody:
        description: Organization update data
        content:
          application/json:
            schema:
              type: object
              properties:
                billingEmail:
                  description: The billing email to use for the organization
                  type: string
                  example: example@archesai.com
                  format: email
                  maxLength: 255
                organizationID:
                  description: UUID identifier
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteOrganization
      summary: Delete an organization
      tags:
        - Organization
      description: Delete an organization
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{organizationID}/members:
    get:
      operationId: ListMembers
      summary: List members
      tags:
        - Member
      description: List members
      parameters:
        - in: path
          name: organizationID
          required: true
          schema:
            type: string
            format: uuid
            maxLength: 36
          description: Organization ID
        - $ref: '#/components/parameters/MembersFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/MembersSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/MemberListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateMember
      summary: Create a member
      tags:
        - Member
      description: Create a member
      parameters:
        - in: path
          name: organizationID
          required: true
          schema:
            type: string
            format: uuid
            maxLength: 36
          description: Organization ID
      requestBody:
        description: Member creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  description: The role of the member
                  type: string
                  enum:
                    - admin
                    - owner
                    - member
                  example: admin
              required:
                - role
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{organizationID}/members/{id}:
    get:
      operationId: GetMember
      summary: Get a member
      tags:
        - Member
      description: Get a member
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateMember
      summary: Update a member
      tags:
        - Member
      description: Update a member
      requestBody:
        description: Member update data
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  description: The role of the member
                  type: string
                  enum:
                    - admin
                    - owner
                    - member
                  example: admin
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/MemberResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteMember
      summary: Delete a member
      tags:
        - Member
      description: Delete a member
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{organizationID}/invitations:
    get:
      operationId: ListInvitations
      summary: List invitations
      tags:
        - Invitation
      description: List invitations
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/InvitationsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/InvitationsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/InvitationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateInvitation
      summary: Create an invitation
      tags:
        - Invitation
      description: Create an invitation
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      requestBody:
        description: Invitation creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The email of the invitated user
                  type: string
                  example: example-string
                  minLength: 1
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                role:
                  description: The role of the invitation
                  type: string
                  enum:
                    - admin
                    - owner
                    - member
                  example: admin
              required:
                - email
                - role
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/InvitationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{organizationID}/invitations/{id}:
    get:
      operationId: GetInvitation
      summary: Get an invitation
      tags:
        - Invitation
      description: Get an invitation
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/InvitationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateInvitation
      summary: Update an invitation
      tags:
        - Invitation
      description: Update an invitation
      requestBody:
        description: Invitation update data
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The email of the invitated user
                  type: string
                  example: example-string
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                role:
                  description: The role of the invitation
                  type: string
                  enum:
                    - admin
                    - owner
                    - member
                  example: admin
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/InvitationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteInvitation
      summary: Delete an invitation
      tags:
        - Invitation
      description: Delete an invitation
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pipelines:
    get:
      operationId: ListPipelines
      summary: List pipelines
      tags:
        - Pipeline
      description: List pipelines
      parameters:
        - $ref: '#/components/parameters/PipelinesFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/PipelinesSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreatePipeline
      summary: Create a pipeline
      tags:
        - Pipeline
      description: Create a pipeline
      requestBody:
        description: Pipeline creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The pipeline description
                  type: string
                  example: Example description text
                  minLength: 1
                  maxLength: 1000
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                name:
                  description: The pipeline name
                  type: string
                  example: Example Name
                  minLength: 1
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/PipelineResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pipelines/{id}:
    get:
      operationId: GetPipeline
      summary: Find a pipeline
      tags:
        - Pipeline
      description: Find a pipeline
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdatePipeline
      summary: Update a pipeline
      tags:
        - Pipeline
      description: Update a pipeline
      requestBody:
        description: Pipeline update data
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The pipeline description
                  type: string
                  example: Example description text
                  maxLength: 1000
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                name:
                  description: The pipeline name
                  type: string
                  example: Example Name
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeletePipeline
      summary: Delete a pipeline
      tags:
        - Pipeline
      description: Delete a pipeline
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pipelines/{id}/steps:
    get:
      operationId: GetPipelineSteps
      x-codegen-custom-handler: true
      summary: Get all steps for a pipeline
      tags:
        - Pipeline
      description: Retrieve all steps and their dependencies for a pipeline
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineStepListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      x-codegen-custom-handler: true
      operationId: CreatePipelineStep
      summary: Add a step to a pipeline
      tags:
        - Pipeline
      description: Create a step in the pipeline
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      requestBody:
        description: Pipeline step creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                toolID:
                  description: UUID identifier
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
                name:
                  description: Name of the step
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Validate Input Data
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                description:
                  description: Description of what this step does
                  type: string
                  maxLength: 1000
                  example: Validates the input data against the configured schema
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                position:
                  description: Position in the pipeline (for ordering)
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 2147483647
                  example: 1
                dependencies:
                  description: IDs of steps this step depends on
                  type: array
                  maxItems: 1000
                  items:
                    description: UUID identifier
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                    minLength: 36
                    maxLength: 36
                  example:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 450e8400-e29b-41d4-a716-446655440002
              required:
                - toolID
                - name
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/PipelineStepResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pipelines/{id}/execution-plans:
    get:
      x-codegen-custom-handler: true
      operationId: GetPipelineExecutionPlan
      summary: Get execution plan for a pipeline
      tags:
        - Pipeline
      description: Get the DAG execution plan showing which steps can run in parallel
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecutionPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      x-codegen-custom-handler: true
      operationId: ValidatePipelineExecutionPlan
      summary: Validate a pipeline configuration
      tags:
        - Pipeline
      description: Validate that a pipeline can be executed without issues
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/PipelineResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /runs:
    get:
      operationId: ListRuns
      summary: List runs
      tags:
        - Run
      description: List runs
      parameters:
        - $ref: '#/components/parameters/RunsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/RunsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/RunListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateRun
      summary: Create a run
      tags:
        - Run
      description: Create a run
      requestBody:
        description: Run creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                pipelineID:
                  description: UUID identifier
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
              required:
                - pipelineID
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/RunResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /runs/{id}:
    get:
      operationId: GetRun
      summary: Find a run
      tags:
        - Run
      description: Find a run
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/RunResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateRun
      summary: Update a run
      tags:
        - Run
      description: Update a run
      requestBody:
        description: Run update data
        content:
          application/json:
            schema:
              type: object
              properties:
                pipelineID:
                  description: UUID identifier
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                  minLength: 36
                  maxLength: 36
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/RunResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteRun
      summary: Delete a run
      tags:
        - Run
      description: Delete a run
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tools:
    get:
      operationId: ListTools
      summary: List tools
      tags:
        - Tool
      description: List tools
      parameters:
        - $ref: '#/components/parameters/ToolsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/ToolsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ToolListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateTool
      summary: Create a tool
      tags:
        - Tool
      description: Create a tool
      requestBody:
        description: Tool creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The tool description
                  type: string
                  minLength: 1
                  maxLength: 1000
                  example: Example description text
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                name:
                  description: The name of the tool
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Example Name
                  pattern: ^[\w\s\-.,!?()@#+/]*$
              required:
                - description
                - name
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/ToolResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tools/{id}:
    get:
      operationId: GetTool
      summary: Find a tool
      tags:
        - Tool
      description: Find a tool
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ToolResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateTool
      summary: Update a tool
      tags:
        - Tool
      description: Update a tool
      requestBody:
        description: Tool update data
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The tool description
                  type: string
                  minLength: 1
                  example: Example description text
                  maxLength: 1000
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                name:
                  description: The name of the tool
                  type: string
                  minLength: 1
                  example: Example Name
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ToolResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteTool
      summary: Delete a tool
      tags:
        - Tool
      description: Delete a tool
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /artifacts:
    get:
      operationId: ListArtifacts
      summary: List artifacts
      tags:
        - Artifact
      description: List artifacts
      parameters:
        - $ref: '#/components/parameters/ArtifactsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/ArtifactsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ArtifactListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateArtifact
      summary: Create a artifact
      tags:
        - Artifact
      description: Create a artifact
      requestBody:
        description: Artifact creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the artifact
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Example Name
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                text:
                  description: The artifact text
                  type: string
                  example: example-string
                  minLength: 1
                  maxLength: 1000
                  pattern: ^[\w\s\-.,!?()@#+/]*$
              required:
                - text
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/ArtifactResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /artifacts/{id}:
    get:
      operationId: GetArtifact
      summary: Find an artifact
      tags:
        - Artifact
      description: Find an artifact
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ArtifactResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateArtifact
      summary: Update an artifact
      tags:
        - Artifact
      description: Update an artifact
      requestBody:
        description: Artifact update data
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the artifact
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Example Name
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                text:
                  description: The artifact text
                  type: string
                  maxLength: 1000
                  example: example-string
                  pattern: ^[\w\s\-.,!?()@#+/]*$
                url:
                  description: The artifact URL
                  type: string
                  format: uri
                  maxLength: 2048
                  example: example-string
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ArtifactResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteArtifact
      summary: Delete an artifact
      tags:
        - Artifact
      description: Delete an artifact
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /labels:
    get:
      operationId: ListLabels
      summary: List labels
      tags:
        - Label
      description: List labels
      parameters:
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/LabelsSort'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/LabelListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: CreateLabel
      summary: Create a label
      tags:
        - Label
      description: Create a label
      requestBody:
        description: Label creation request
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the label
                  type: string
                  minLength: 1
                  example: Example Name
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
              required:
                - name
        required: true
      security:
        - bearerAuth: []
      responses:
        '201':
          $ref: '#/components/responses/LabelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /labels/{id}:
    get:
      operationId: GetLabel
      summary: Find a label
      tags:
        - Label
      description: Find a label
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/LabelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: UpdateLabel
      summary: Update a label
      tags:
        - Label
      description: Update a label
      requestBody:
        description: Label update data
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the label
                  type: string
                  minLength: 1
                  example: Example Name
                  maxLength: 255
                  pattern: ^[\w\s\-.,!?()@#+/]*$
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/LabelResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: DeleteLabel
      summary: Delete a label
      tags:
        - Label
      description: Delete a label
      parameters:
        - $ref: '#/components/parameters/ResourceID'
      security:
        - bearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
[...]
