{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "keepClassNames": true,
    "parser": {
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript"
    },
    "target": "es2022",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "minify": false,
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
