openapi: 3.2.0
x-project-name: github.com/archesai/archesai/apps/studio
info:
  title: Arches Platform API
  description: The Arches Platform API for managing projects and code generation
  version: v0.0.0
  summary: API for Arches platform
  termsOfService: https://archesai.com/terms
  license:
    name: AGPL-3.0
    url: https://opensource.org/licenses/AGPL-3.0
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
jsonSchemaDialect: https://spec.openapis.org/oas/3.2/dialect/2025-09-17
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
