# yaml-language-server: $schema=https://spec.openapis.org/oas/3.2/schema/2025-09-17
openapi: 3.2.0
info:
  title: Arches AI API
  description: The Arches AI API
  version: v0.0.0
  summary: API for Arches AI platform
  termsOfService: https://archesai.com/terms
  license:
    name: AGPL-3.0
    url: https://opensource.org/licenses/AGPL-3.0
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
jsonSchemaDialect: https://spec.openapis.org/oas/3.2/dialect/2025-09-17
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
    description: Production server
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: APIKey
    description: API key management
  - name: Artifact
    description: Content artifact management
  - name: Auth
    description: Authentication and authorization operations
  - name: Config
    description: Configuration management
  - name: Health
    description: Health check operations
  - name: Invitation
    description: Organization invitation management
  - name: Label
    description: Content label management
  - name: Member
    description: Organization member management
  - name: OAuth
    description: OAuth provider integration
  - name: Organization
    description: Organization management
  - name: Pipeline
    description: Pipeline management
  - name: Run
    description: Pipeline run management
  - name: Session
    description: User session management
  - name: Token
    description: API token management
  - name: Tool
    description: Tool management
  - name: User
    description: User profile management
paths:
  /auth/login:
    $ref: paths/auth_login.yaml
  /auth/logout:
    $ref: paths/auth_logout.yaml
  /auth/logout-all:
    $ref: paths/auth_logout-all.yaml
  /auth/register:
    $ref: paths/auth_register.yaml
  /auth/magic-links/request:
    $ref: paths/auth_magic-link-request.yaml
  /auth/magic-links/verify:
    $ref: paths/auth_magic-link-verify.yaml
  /auth/link:
    $ref: paths/auth_link.yaml
  /auth/sessions:
    $ref: paths/auth_sessions.yaml
  /auth/sessions/{id}:
    $ref: paths/auth_sessions_id.yaml
  /auth/accounts:
    $ref: paths/auth_accounts.yaml
  /auth/accounts/{id}:
    $ref: paths/auth_accounts_id.yaml
  /auth/request-verification:
    $ref: paths/auth_request-verification.yaml
  /auth/verify-email:
    $ref: paths/auth_verify-email.yaml
  /auth/forgot-password:
    $ref: paths/auth_forgot-password.yaml
  /auth/reset-password:
    $ref: paths/auth_reset-password.yaml
  /auth/change-email:
    $ref: paths/auth_change-email.yaml
  /auth/confirm-email:
    $ref: paths/auth_confirm-email.yaml
  /users:
    $ref: paths/users.yaml
  /users/{id}:
    $ref: paths/users_id.yaml
  /me:
    $ref: paths/users_me.yaml
  /auth/oauth/{provider}/authorize:
    $ref: paths/oauth_authorize.yaml
  /auth/oauth/{provider}/callback:
    $ref: paths/oauth_callback.yaml
  /api-keys:
    $ref: paths/api-keys.yaml
  /api-keys/{id}:
    $ref: paths/api-keys_id.yaml
  /organizations:
    $ref: paths/organizations.yaml
  /organizations/{id}:
    $ref: paths/organizations_id.yaml
  /organizations/{organizationID}/members:
    $ref: paths/members.yaml
  /organizations/{organizationID}/members/{id}:
    $ref: paths/members_id.yaml
  /organizations/{organizationID}/invitations:
    $ref: paths/invitations.yaml
  /organizations/{organizationID}/invitations/{id}:
    $ref: paths/invitations_id.yaml
  /pipelines:
    $ref: paths/pipelines.yaml
  /pipelines/{id}:
    $ref: paths/pipelines_id.yaml
  /pipelines/{id}/steps:
    $ref: paths/pipelines_id_steps.yaml
  /pipelines/{id}/execution-plans:
    $ref: paths/pipelines_id_execution-plans.yaml
  /runs:
    $ref: paths/runs.yaml
  /runs/{id}:
    $ref: paths/runs_id.yaml
  /tools:
    $ref: paths/tools.yaml
  /tools/{id}:
    $ref: paths/tools_id.yaml
  /artifacts:
    $ref: paths/artifacts.yaml
  /artifacts/{id}:
    $ref: paths/artifacts_id.yaml
  /labels:
    $ref: paths/labels.yaml
  /labels/{id}:
    $ref: paths/labels_id.yaml
  /config:
    $ref: paths/config.yaml
  /health:
    $ref: paths/health.yaml
components:
  securitySchemes:
    bearerAuth:
      description: API Token for authenticated requests
      scheme: bearer
      type: http
    sessionCookie:
      description: Session cookie for authenticated requests
      type: apiKey
      name: __Secure-better-auth.session_token
      in: cookie
