#openapi: 3.1.1
openapi: 3.0.3
info:
  title: Arches AI API
  description: The Arches AI API
  version: v0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
#jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
    description: Production server
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: Accounts
    description: Account management operations
  - name: Artifacts
    description: Intelligence artifact operations
  - name: Auth
    description: Authentication and authorization operations
  - name: Config
    description: Configuration management
  - name: Health
    description: Health check operations
  - name: Infrastructure
    description: Infrastructure management operations
  - name: Intelligence
    description: AI and intelligence operations
  - name: Invitations
    description: User invitation management
  - name: Labels
    description: Label management operations
  - name: Members
    description: Organization member management
  - name: Organizations
    description: Organization management operations
  - name: Pipelines
    description: Pipeline management operations
  - name: Runs
    description: Pipeline run operations
  - name: Sessions
    description: Session management operations
  - name: Tools
    description: Tool management operations
  - name: Users
    description: User management operations
paths:
  /auth/accounts:
    $ref: paths/auth_accounts.yaml
  /auth/accounts/{id}:
    $ref: paths/auth_accounts_{id}.yaml
  /auth/sign-up:
    $ref: paths/auth_sign-up.yaml
  /auth/sign-in:
    $ref: paths/auth_sign-in.yaml
  /auth/sign-out:
    $ref: paths/auth_sign-out.yaml
  /auth/email-verification/verify:
    $ref: paths/auth_email-verification_verify.yaml
  /auth/email-verification/request:
    $ref: paths/auth_email-verification_request.yaml
  /auth/password-reset/request:
    $ref: paths/auth_password-reset_request.yaml
  /auth/password-reset/verify:
    $ref: paths/auth_password-reset_verify.yaml
  /auth/email-change/request:
    $ref: paths/auth_email-change_request.yaml
  /auth/email-change/verify:
    $ref: paths/auth_email-change_verify.yaml
  /auth/invitations:
    $ref: paths/auth_invitations.yaml
  /auth/invitations/{id}:
    $ref: paths/auth_invitations_{id}.yaml
  /auth/members:
    $ref: paths/auth_members.yaml
  /auth/members/{id}:
    $ref: paths/auth_members_{id}.yaml
  /auth/organizations:
    $ref: paths/auth_organizations.yaml
  /auth/organizations/{id}:
    $ref: paths/auth_organizations_{id}.yaml
  /auth/sessions:
    $ref: paths/auth_sessions.yaml
  /auth/sessions/{id}:
    $ref: paths/auth_sessions_{id}.yaml
  /auth/users:
    $ref: paths/auth_users.yaml
  /auth/users/{id}:
    $ref: paths/auth_users_{id}.yaml
  /intelligence/artifacts:
    $ref: paths/intelligence_artifacts.yaml
  /intelligence/artifacts/{id}:
    $ref: paths/intelligence_artifacts_{id}.yaml
  /intelligence/labels:
    $ref: paths/intelligence_labels.yaml
  /intelligence/labels/{id}:
    $ref: paths/intelligence_labels_{id}.yaml
  /intelligence/pipelines:
    $ref: paths/intelligence_pipelines.yaml
  /intelligence/pipelines/{id}:
    $ref: paths/intelligence_pipelines_{id}.yaml
  /intelligence/runs:
    $ref: paths/intelligence_runs.yaml
  /intelligence/runs/{id}:
    $ref: paths/intelligence_runs_{id}.yaml
  /intelligence/tools:
    $ref: paths/intelligence_tools.yaml
  /intelligence/tools/{id}:
    $ref: paths/intelligence_tools_{id}.yaml
  /config:
    $ref: paths/config.yaml
  /health:
    $ref: paths/health.yaml
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: API Token for authenticated requests
      scheme: bearer
      type: http
    sessionCookie:
      description: Session cookie for authenticated requests
      in: cookie
      name: __Secure-better-auth.session_token
      type: apiKey
