# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2022-10-07
openapi: 3.1.1
info:
  title: Arches AI API
  description: The Arches AI API
  version: v0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
    description: Production server
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: Accounts
    description: User account management
  - name: Artifacts
    description: Content artifact management
  - name: Auth
    description: Authentication and authorization operations
  - name: Config
    description: Configuration management
  - name: Health
    description: Health check operations
  - name: Invitations
    description: Organization invitation management
  - name: Labels
    description: Content label management
  - name: Members
    description: Organization member management
  - name: OAuth
    description: OAuth provider integration
  - name: Organizations
    description: Organization management
  - name: Pipelines
    description: Pipeline management
  - name: Runs
    description: Pipeline run management
  - name: Sessions
    description: User session management
  - name: Tokens
    description: API token management
  - name: Tools
    description: Tool management
  - name: Users
    description: User profile management
paths:
  /accounts:
    $ref: paths/accounts.yaml
  /accounts/{id}:
    $ref: paths/accounts_{id}.yaml
  /accounts/register:
    $ref: paths/accounts_register.yaml
  /accounts/email-verification/verify:
    $ref: paths/accounts_email-verification_verify.yaml
  /accounts/email-verification/request:
    $ref: paths/accounts_email-verification_request.yaml
  /accounts/password-reset/request:
    $ref: paths/accounts_password-reset_request.yaml
  /accounts/password-reset/verify:
    $ref: paths/accounts_password-reset_verify.yaml
  /accounts/email-change/request:
    $ref: paths/accounts_email-change_request.yaml
  /accounts/email-change/verify:
    $ref: paths/accounts_email-change_verify.yaml
  /sessions:
    $ref: paths/sessions.yaml
  /sessions/{id}:
    $ref: paths/sessions_{id}.yaml
  /users:
    $ref: paths/users.yaml
  /users/{id}:
    $ref: paths/users_{id}.yaml
  # OAuth domain
  /auth/oauth/{provider}/authorize:
    $ref: paths/oauth_authorize.yaml
  /auth/oauth/{provider}/callback:
    $ref: paths/oauth_callback.yaml
  # API Keys domain
  /tokens:
    $ref: paths/tokens.yaml
  /tokens/{id}:
    $ref: paths/tokens_{id}.yaml
  # Organizations domain
  /organizations:
    $ref: paths/organizations.yaml
  /organizations/{id}:
    $ref: paths/organizations_{id}.yaml
  /organizations/{id}/members:
    $ref: paths/members.yaml
  /organizations/{id}/members/{memberID}:
    $ref: paths/members_{id}.yaml
  /organizations/{id}/invitations:
    $ref: paths/invitations.yaml
  /organizations/{id}/invitations/{invitationID}:
    $ref: paths/invitations_{id}.yaml
  # Pipelines domain
  /pipelines:
    $ref: paths/pipelines.yaml
  /pipelines/{id}:
    $ref: paths/pipelines_{id}.yaml
  /pipelines/{id}/steps:
    $ref: paths/pipelines_{id}_steps.yaml
  /pipelines/{id}/execution-plans:
    $ref: paths/pipelines_{id}_execution-plans.yaml
  # Runs domain
  /runs:
    $ref: paths/runs.yaml
  /runs/{id}:
    $ref: paths/runs_{id}.yaml
  # Tools domain
  /tools:
    $ref: paths/tools.yaml
  /tools/{id}:
    $ref: paths/tools_{id}.yaml
  # Artifacts domain
  /artifacts:
    $ref: paths/artifacts.yaml
  /artifacts/{id}:
    $ref: paths/artifacts_{id}.yaml
  # Labels domain
  /labels:
    $ref: paths/labels.yaml
  /labels/{id}:
    $ref: paths/labels_{id}.yaml
  /config:
    $ref: paths/config.yaml
  /health:
    $ref: paths/health.yaml
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: API Token for authenticated requests
      scheme: bearer
      type: http
    sessionCookie:
      description: Session cookie for authenticated requests
      in: cookie
      name: __Secure-better-auth.session_token
      type: apiKey
