# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2022-10-07
openapi: 3.1.1
info:
  title: Arches AI API
  description: The Arches AI API
  version: v0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Arches AI Support
    email: support@archesai.com
    url: https://archesai.com/support
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.archesai.dev
    description: Remote development server
  - url: https://api.archesai.com
    description: Production server
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: APIKeys
    description: API key management
  - name: Artifacts
    description: Content artifact management
  - name: Auth
    description: Authentication and authorization operations
  - name: Config
    description: Configuration management
  - name: Health
    description: Health check operations
  - name: Invitations
    description: Organization invitation management
  - name: Labels
    description: Content label management
  - name: Members
    description: Organization member management
  - name: OAuth
    description: OAuth provider integration
  - name: Organizations
    description: Organization management
  - name: Pipelines
    description: Pipeline management
  - name: Runs
    description: Pipeline run management
  - name: Sessions
    description: User session management
  - name: Tokens
    description: API token management
  - name: Tools
    description: Tool management
  - name: Users
    description: User profile management
paths:
  # Authentication - Simplified flat structure
  /auth/login:
    $ref: paths/auth_login.yaml
  /auth/logout:
    $ref: paths/auth_logout.yaml
  /auth/logout-all:
    $ref: paths/auth_logout-all.yaml
  /auth/register:
    $ref: paths/auth_register.yaml
  /auth/magic-links/request:
    $ref: paths/auth_magic-link-request.yaml
  /auth/magic-links/verify:
    $ref: paths/auth_magic-link-verify.yaml
  /auth/link:
    $ref: paths/auth_link.yaml
  /auth/sessions:
    $ref: paths/auth_sessions.yaml
  /auth/sessions/{id}:
    $ref: paths/auth_sessions_{id}.yaml
  /auth/accounts:
    $ref: paths/auth_accounts.yaml
  /auth/accounts/{id}:
    $ref: paths/auth_accounts_{id}.yaml
  /auth/request-verification:
    $ref: paths/auth_request-verification.yaml
  /auth/verify-email:
    $ref: paths/auth_verify-email.yaml
  /auth/forgot-password:
    $ref: paths/auth_forgot-password.yaml
  /auth/reset-password:
    $ref: paths/auth_reset-password.yaml
  /auth/change-email:
    $ref: paths/auth_change-email.yaml
  /auth/confirm-email:
    $ref: paths/auth_confirm-email.yaml
  /users:
    $ref: paths/users.yaml
  /users/me:
    $ref: paths/users_me.yaml
  /users/{id}:
    $ref: paths/users_{id}.yaml
  # OAuth domain
  /auth/oauth/{provider}/authorize:
    $ref: paths/oauth_authorize.yaml
  /auth/oauth/{provider}/callback:
    $ref: paths/oauth_callback.yaml
  # API Keys domain
  /api-keys:
    $ref: paths/api-keys.yaml
  /api-keys/{id}:
    $ref: paths/api-keys_{id}.yaml
  # Organizations domain
  /organizations:
    $ref: paths/organizations.yaml
  /organizations/{id}:
    $ref: paths/organizations_{id}.yaml
  /organizations/{organizationID}/members:
    $ref: paths/members.yaml
  /organizations/{organizationID}/members/{id}:
    $ref: paths/members_{id}.yaml
  /organizations/{organizationID}/invitations:
    $ref: paths/invitations.yaml
  /organizations/{organizationID}/invitations/{id}:
    $ref: paths/invitations_{id}.yaml
  # Pipelines domain
  /pipelines:
    $ref: paths/pipelines.yaml
  /pipelines/{id}:
    $ref: paths/pipelines_{id}.yaml
  /pipelines/{id}/steps:
    $ref: paths/pipelines_{id}_steps.yaml
  /pipelines/{id}/execution-plans:
    $ref: paths/pipelines_{id}_execution-plans.yaml
  # Runs domain
  /runs:
    $ref: paths/runs.yaml
  /runs/{id}:
    $ref: paths/runs_{id}.yaml
  # Tools domain
  /tools:
    $ref: paths/tools.yaml
  /tools/{id}:
    $ref: paths/tools_{id}.yaml
  # Artifacts domain
  /artifacts:
    $ref: paths/artifacts.yaml
  /artifacts/{id}:
    $ref: paths/artifacts_{id}.yaml
  # Labels domain
  /labels:
    $ref: paths/labels.yaml
  /labels/{id}:
    $ref: paths/labels_{id}.yaml
  /config:
    $ref: paths/config.yaml
  /health:
    $ref: paths/health.yaml
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: API Token for authenticated requests
      scheme: bearer
      type: http
    sessionCookie:
      description: Session cookie for authenticated requests
      in: cookie
      name: __Secure-better-auth.session_token
      type: apiKey
